/*
 * [ IMPORTANT ]
 *
 * Do NOT use ID-selector for coding CSS !!
 * You should only use class-selector.
 *
**/

/*
 * ---- Masthead Style
**/

.masthead-inner {
  display: flex;
  justify-content: space-between;
    /* consider masthead-js-msg-container.
       flex-items are lined up and evenly spaced. */
  padding: 6px 0;
}

.masthead-msg-container {
  color: #f73;
}

.masthead-nav {
  margin-left: auto;
    /* masthead navigation should be on the right side in itself. */
}

.masthead-nav-links {
  display: flex;
    /* make items side by side */
}

.masthead-nav-links > li {
  text-align: center;
}

.masthead-nav-links > li > a {
  display: block;
  padding: 0 18px;
    /* expand on-click space. */
}

/*
 * ---- Header Style
**/

.header-container {
  background: url("../res/header_bg.png");
  background-color: #fff;
  background-repeat: repeat;
}

.header-inner {
  align-items: flex-end;
    /* flex items contained in site-header-inner are moved to this container bottom. */
  display: flex;
  height: 192px;
    /* this valuer must be calculated, 64 * n.*/
  justify-content: space-between;
}

.header-labname-container {
  margin: 0 0 10px 20px;
}

.header-labname-main {
  font-size: 32pt;
  font-weight: bold;
}

.header-labname-sub {
  font-size: 24pt;
  font-weight: bold;
}

.header-info-container {
  font-weight: bold;
  margin: 0 20px 10px 0;
  text-align: right;
}

.header-info-affi {
  color: #777;
}

.header-info-separater {
  margin-top: 4px;
  margin-bottom: 4px;
}

.header-info-addr {
  color: #e63;
}

/*
 * ---- Global Navigation Style
**/

.gnav-container {
  box-shadow: 0 1px 4px rgba(192, 192, 192, 0.8);
}

.gnav-inner {
  padding: 0 0;
}

.gnav-links {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
    /* navigation links should be centered on the page. */ 
}

.gnav-links > li {
  border-right: 2px solid #f6f6f6;
  display: table-cell;
    /* please note that the parent container's display type is set to table. */
  vertical-align: middle;
}

.gnav-links > li:first-child {
  border-left: 2px solid #f6f6f6;
}

.gnav-jmp {
  display: block;
  padding: 10px 0;
}

.gnav-jmp:hover {
  background-color: #78e;
}

.gnav-jmp:hover > span {
  color: #fff;
}

/*
 * ---- Site Main Style
**/

.content {
  margin: 16px 0 32px 8px;
}

.content-flex {
  display: flex;
}

.content-flex-space-between {
  justify-content: space-between;
}

.content-flex-baseline {
  align-items: baseline;
}

.content-flex-stretch {
  align-items: stretch;
}

.content-nbm {
  margin-bottom: 16px;
}

.content-info-title-main {
  margin-left: 4px;
}

.content-info-title-sub {
  margin-left: 4px;
}

.content-info-pagetop {
  padding-right: 8px;
}

.content-separater {
  margin: 4px 2px 8px 0;
}

.content-image-container {
  margin: 0 auto;
}

.content-image-container img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height: 100%;
}

.content-desc {
  padding: 0 20px;
}

/*
 * ---- Site Footer Style
**/

.footer-wrapper {
  margin-top: 32px;
}

.footer-inner {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
}
