/*
 * ---- Base Settings
 */

body {
  background-color: #666;
  font-family: Meiryo, "MS PGothic", Arial, Verdana;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  cursol: pointer;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #f0f;
  text-decoration: none;
}

a:hover {
  color: #ff8c00;
  text-decoration: none;
}

a:active {
  color: #f09;
  text-decoration: none;
}

/*
 * ---- Site Settings
 */

.site-container {
  background-color: #fff;
  margin: 0 auto;
    /* center site-container in the site. */
  width: 935px;
}

.site-wrapper {
  background-color: #666;
}

/*
 * ---- Header Settings
 */

.site-header {
}

.site-header-address {
}

.site-header-inner {
  background: url('../res/header_bg.jpg');
  color: #fff;
  display: flex;
  height: 200px;
  width: 935px;
}

.site-header-labname {
  margin: 8px 0;
  text-align: center;
}

.site-header-labname-sub {
  font-size: 18pt;
}

.site-header-labname-main {
  font-size: 20pt;
}

.site-header-left {
  width: 60%;
}

.site-header-nav {
}

.site-header-nav-element {
  display: inline-block;
  font-size: 10pt;
  text-align: center;
  width: 96px;
}

.site-header-nav-list {
}

.site-header-nav-list li+li {
  border-left: 1px solid #444;
}

.site-header-right {
  text-align: right;
  width: 40%;
}

/*
 * ---- Main Nav Settings
 */

.site-nav {
}

.site-nav-element {
  background-color: #ff3;
  display: table-cell;
  height: 64px;
  vertical-align: middle;
  width: 164px;
}

.site-nav-element a {
  display: block;
  background-color: #cc3;
  padding: 10px 0;
}

.site-nav-element a span {
  display: block;
}

.site-nav-inner {
  background-color: #883
}

.site-nav-list {
  display: table;
  text-align: center;
  margin: 0 auto;
}

.site-nav-list li+li {
  border-left: 1px solid #444;
}

/*
 * ---- Main Settings
 */

.site-main {
  display: flex;
}

.primary-container,
.secondary-container {
  background-color: #fff;
  margin: 10px;
}

/*
 * ---- Main Settings / primary
 */

.primary {
  width: 75%;
}

.primary-article {
}

.primary-container {
}

.primary-header {
}

.primary-section {
}

.primary-title {
}

/*
 * ---- Main Settings / secondary
 */

.secondary {
  width: 25%;
}

.secondary-container {
}

.secondary-header {
}

.secondary-section {
}

.secondary-title {
}

/*
 * ---- Footer Settings
 */

.site-footer {
}

.site-footer-inner {
}

/*
 * ---- Other Settings
 */


/*************************************************************/

/*
 *
 */

.secondary-links {
}

.secondary-update-log {
}

.secondary-ads {
}
