/*
 * ---- Base Settings
 */

body {
  color: #222;
  font-family: Meiryo, "MS PGothic", Arial, Verdana;
  font-size: 14px;
  line-height: 1.42857;
  min-width: 960px;
}

a {
  cursol: pointer;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #ff8c00;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

/*
 * ---- Site Settings
 */

.site-container {
  margin: 0 auto;
  width: 960px;
}

.site-wrapper {
  background-color: #fff;
  height: auto;
  width: auto;
}

.use-theme-color {
  background-color: #23a;
  color: #fff;
}

.use-theme-color a,
.use-theme-color a:link,
.use-theme-color a:visited,
.use-theme-color a:hover,
.use-theme-color a:active {
  color: #fff;
  text-decoration: none;
}

.use-theme-color a:hover {
  color: #f73;
}

/*
 * ---- Header Settings
 */

.site-header {
  background: url("../res/header_bg_alt_2.png");
  background-color: #fff;
    /* do NOT change this color!! */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
}

.site-masthead {
  padding: 4px 0;
  width: 100%;
}

.site-masthead-nav {
}

.site-masthead-nav-list {
  border-right: 1px solid #fff;
  font-size: 8pt;
  text-align: right;
}

.site-masthead-nav-element {
  border-left: 1px solid #fff;
  display: inline-block;
  text-align: center;
  width: 96px;
}

.site-masthead-nav-element a {
  display: block;
}

.site-header-inner {
  display: flex;
  margin: 0 auto;
  width: 935px;
  height: 100%;
}

/* #### inner-left #### */
.site-header-left {
  position: relative;
  width: 30%;
}

.site-header-labname {
  color: #000;
  position: absolute;
  bottom: 4px;
  left: 16px;
}

.site-header-labname-main {
  font-size: 32pt;
}

.site-header-labname-sub {
  font-size: 24pt;
}
/* #################### */

/* #### inner-right #### */
.site-header-right {
  position: relative;
  text-align: right;
  width: 70%;
}

.site-header-right-bottom {
  bottom: 12px;
  font-weight: bold;
  position: absolute;
  right: 16px;
}

.site-header-org {
  color: #777;
}

.site-header-org-separater {
  margin-top: 4px;
  margin-bottom: 8px;
}

.site-header-address p {
  color: #e63;
}
/* ##################### */

/*
 * ---- Main Nav Settings
 */

.site-nav {
  width: auto;
}

.site-nav-element {
  border-right: 1px solid #fff;
  display: table-cell;
  height: 64px;
  vertical-align: middle;
}

.site-nav-element a {
  display: block;
  padding: 8px 0;
}

.site-nav-element a span {
  display: block;
}

.site-nav-inner {
  margin: 0 auto;
}

.site-nav-list {
  border-left: 1px solid #fff;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.site-lastupdate {
  background-color: #fafafa;
  color: #111;
  font-size: 12px;
  font-style: italic;
}

.site-lastupdate-inner {
  text-align: right;
}

/*
 * ---- Main Settings
 */

.site-main {
}

.site-main-inner {
  display: flex;
  padding-top: 16px;
}

.primary-container,
.secondary-container {
  background-color: #fff;
  margin: 5px 0;
}

.site-slideshow {
}

.site-slideshow-inner {
  background-color: #000;
  color: #fff;
  height: 128px;
  margin: 8px auto;
  text-align: center;

/*
  font-size: 0;
  height: 0;
/**/
}

/*
 * ---- Main Settings / primary
 */

.primary {
  width: 100%;
}

.primary-container {
  margin-bottom: 28px;
}

.content-header {
}

.content-section {
}

.content-title {
  font-size: 28px;
  line-height: 28px;
}

.news {
}

.news-table {
  display: flex;
  flex-wrap: wrap;
}

.news-container {
  width: 33%;
}

.news-inner {
  background-color: #f9fafe;
  padding: 18px;
  margin: 0 5px;
  margin-bottom: 16px;
  position: relative;
}

.news-inner::after {
    content: "";
    border-color: #eee #fff #fff #eee;
    border-style: solid;
    border-width: 0 0 18px 18px;
    bottom: 0;
    position: absolute;
    right: 0;
}

.news-header {
  display: flex;
}

.news-header::before {
  background: url("../res/icons/266-question.png") no-repeat left center;
  content: "";
  height: 16px;
  width: 16px;
  padding-right: 8px;
}

.news-update .news-header::before {
  background: url("../res/icons/303-loop2.png") no-repeat left center;
}

.news-academic .news-header::before {
  background: url("../res/icons/034-library.png") no-repeat left center;
}

.news-international .news-header::before {
  background: url("../res/icons/176-airplane.png") no-repeat left center;
}

.news-event .news-header::before {
  background: url("../res/icons/084-calendar.png") no-repeat left center;
}

.news-title {
  flex: 1;
  font-size: 16px;
}

.news-date-posted {
  font-size: 8px;
  font-style: italic;
  text-align: right;
  margin-left: auto;
  width: 64px;
}

.news-separater {
  margin-top: 8px;
  margin-bottom: 8px;
}

.link-past-news {
  margin-top: -8px;
  text-align: right;
}

/*
 * ---- Main Settings / secondary
 */

.secondary {
  width: 0%;
}

.secondary-container {
}

.secondary-header {
}

.secondary-section {
}

.secondary-title {
}

/*
 * ---- Footer Settings
 */

.site-footer {
  width: 100%;
}

.site-footer-inner {
  text-align: center;
}

/*
 * ---- Other Settings
 */


/*************************************************************/

/*
 *
 */

.secondary-links {
}

.secondary-update-log {
}

.secondary-ads {
}
