/*
 * ---- Base
 */

html {
  font-size: 15px;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, Verdana, "メイリオ", Meiryo, "MS PGothic";
  font-size: 1.0rem;
  line-height: 1.42857;
}

a {
  cursor: pointer;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #ff8c00;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*
 * [ IMPORTANT ]
 *
 * Do NOT use ID-selector for coding CSS !!
 * You should only use class-selector.
 *
**/

/*
 * ---- Site Style
**/

.cmn-container {
  margin: 0 auto;
    /* centering */
  max-width: 1010px;
}

.cmn-bg {
  background-color: #fff;
}

.cmn-fcolor {
  color: #222;
}

.cmn-fsize-txt {
  font-size: 1.0rem;
  line-height: 1.875;
}

.cmn-fsize-txt-cmpr {
  font-size: 1.0rem;
  line-height: 1.42857;
}

.cmn-fsize-tiny {
  font-size: 0.6rem;
}

.cmn-fsize-small {
  font-size: 0.8rem;
}

.cmn-fsize-middle {
  font-size: 1.0rem;
}

.cmn-fsize-large {
  font-size: 1.2rem;
}

.cmn-fsize-huge {
  font-size: 1.5rem;
}

.cmn-fweight-bold {
  font-weight: bold;
}

.cmn-nextp {
  margin-top: 1.4em;
}

.cmn-separater {
  height:1px;
  border:0;   
  border-top:1px solid #bbb;
}

.cmn-display-block {
  display: block;
}

.cmn-minw {
  min-width: 780px;
}

.cmn-linkstyle-pure,
.cmn-linkstyle-pure:link,
.cmn-linkstyle-pure:visited,
.cmn-linkstyle-pure:hover,
.cmn-linkstyle-pure:active {
  color: #222;
  text-decoration: none;
}

.cmn-thm {
  background-color: #233;
  background-color: #349;
  color: #fff;
}

.cmn-thm a,
.cmn-thm a:link,
.cmn-thm a:visited,
.cmn-thm a:hover,
.cmn-thm a:active {
  color: #fff;
  text-decoration: none;
}

.cmn-thm a:hover {
  color: #f73;
}

/*
 * ---- Masthead Style
**/

.masthead-inner {
  display: flex;
  justify-content: space-between;
    /* consider masthead-js-msg-container.
       flex-items are lined up and evenly spaced. */
  padding: 6px 0;
}

.masthead-msg-container {
  color: #f73;
}

.masthead-nav {
  margin-left: auto;
    /* masthead navigation should be on the right side in itself. */
}

.masthead-nav-links {
  display: flex;
    /* make items side by side */
}

.masthead-nav-links > li {
  text-align: center;
}

.masthead-nav-links > li > a {
  display: block;
  padding: 0 18px;
    /* expand on-click space. */
}

/*
 * ---- Header Style
**/

.header-container {
  background: url("../res/header_bg.png");
  background-color: #fff;
  background-repeat: repeat;
}

.header-inner {
  align-items: flex-end;
    /* flex items contained in site-header-inner are moved to this container bottom. */
  display: flex;
  height: 192px;
    /* this valuer must be calculated, 64 * n.*/
  justify-content: space-between;
}

.header-labname-container {
  margin: 0 0 10px 20px;
}

.header-labname-main {
  font-size: 32pt;
  font-weight: bold;
}

.header-labname-sub {
  font-size: 24pt;
  font-weight: bold;
}

.header-info-container {
  font-weight: bold;
  margin: 0 20px 10px 0;
  text-align: right;
}

.header-info-affi {
  color: #777;
}

.header-info-separater {
  margin-top: 4px;
  margin-bottom: 4px;
}

.header-info-addr {
  color: #e63;
}

/*
 * ---- Global Navigation Style
**/

.gnav-container {
  box-shadow: 0 1px 4px rgba(192, 192, 192, 0.8);
}

.gnav-inner {
  padding: 0 0;
}

.gnav-links {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
    /* navigation links should be centered on the page. */ 
}

.gnav-links > li {
  border-right: 2px solid #f6f6f6;
  display: table-cell;
    /* please note that the parent container's display type is set to table. */
  vertical-align: middle;
}

.gnav-links > li:first-child {
  border-left: 2px solid #f6f6f6;
}

.gnav-jmp {
  display: block;
  padding: 10px 0;
}

.gnav-jmp:hover {
  background-color: #78e;
}

.gnav-jmp:hover > span {
  color: #fff;
}

/*
 * ---- Site Main Style
 *
 *      NOTE: news settings are in the lower part..
 *
**/

.content {
  margin: 16px 8px;
  margin: 0;
  padding: 16px 8px;
}

.content-info-title-sub {
  margin-left: 4px;
}

.content-separater {
  margin-top: 4px;
  margin-bottom: 8px;
}

.content-desc {
  margin-left: 20px;
}

/*
 * ---- Site Footer Style
**/

.footer-wrapper {
  margin-top: 32px;
}

.footer-inner {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
}

/*******************************************************/

/*
 * ---- Article Style
**/

.article-title-sub {
  margin-left: 4px;
}

.article-header-separater {
  margin-top: 4px;
  margin-bottom: 8px;
}

.article-content {
  margin-left: 20px;
}

/*
 * ---- Slideshow Style
**/

.slideshow-inner {
  margin: 20px 2px 0 2px;
}

.slideshow-inner img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height: 100%;
  border-radius: 2px;
}

/*
 * ---- News Style
**/

.news-container {
  height: 200px;
  overflow-y: scroll;
}

.news-items {
  display: flex;
  flex-direction: column-reverse;
  list-style:none;
}

.news-items > li:first-child {
    /* NOTE: column-REVERSE property is uded. so first-child. */
  border-bottom: none;
}

.news-items > li {
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}

.news-item-container {
  display: flex;
  align-items: center;
}

.news-desc {
  margin-left: 32px;
}
