/*
 * ---- Base Settings
 */

body {
  color: #222;
  font-family: Meiryo, "MS PGothic", Arial, Verdana;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  cursol: pointer;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #f0f;
  text-decoration: none;
}

a:hover {
  color: #ff8c00;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

/*
 * ---- Site Settings
 */

.site-container {
  margin: 0 auto;
  width: 935px;
}

.site-wrapper {
  background-color: #fff;
  height: auto;
  width: auto;
}

.use-theme-color {
  background-color: #23a;
  color: #fff;
}

.use-theme-color a,
.use-theme-color a:link,
.use-theme-color a:visited,
.use-theme-color a:hover,
.use-theme-color a:active {
  color: #fff;
  text-decoration: none;
}

.use-theme-color a:hover {
  color: #f73;
}

/*
 * ---- Header Settings
 */

.site-header {
  background: url('../res/header_bg_alt_2.png');
  background-color: #fff;
    /* do NOT change this color!! */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
}

.site-masthead {
  padding: 4px 0;
  width: 100%;
}

.site-masthead-nav {
}

.site-masthead-nav-list {
  border-right: 1px solid #fff;
  font-size: 8pt;
  text-align: right;
}

.site-masthead-nav-element {
  border-left: 1px solid #fff;
  display: inline-block;
  text-align: center;
  width: 128px;
}

.site-masthead-nav-element a {
  display: block;
}

.site-header-inner {
  display: flex;
  margin: 0 auto;
  width: 935px;
  height: 100%;
}

/* #### inner-left #### */
.site-header-left {
  position: relative;
  width: 60%;
}

.site-header-labname {
  color: #000;
  position: absolute;
  bottom: 4px;
  left: 16px;
}

.site-header-labname-main {
  font-size: 32pt;
}

.site-header-labname-sub {
  font-size: 24pt;
}
/* #################### */

/* #### inner-right #### */
.site-header-right {
  position: relative;
  text-align: right;
  width: 40%;
}

.site-header-address {
  bottom: 12px;
  font-weight: bold;
  position: absolute;
  right: 16px;
}

.site-header-address p {
  color: #e63;
}
/* ##################### */

/*
 * ---- Main Nav Settings
 */

.site-nav {
  width: auto;
}

.site-nav-element {
  border-right: 1px solid #fff;
  display: table-cell;
  height: 64px;
  vertical-align: middle;
}

.site-nav-element a {
  display: block;
  padding: 8px 0;
}

.site-nav-element a span {
  display: block;
}

.site-nav-inner {
  margin: 0 auto;
}

.site-nav-list {
  border-left: 1px solid #fff;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

/*
 * ---- Main Settings
 */

.site-main {
}

.site-main-inner {
  display: flex;
}

.primary-container,
.secondary-container {
  background-color: #fff;
  margin: 10px;
}

/*
 * ---- Main Settings / primary
 */

.primary {
  width: 75%;
}

.primary-article {
}

.primary-container {
}

.primary-header {
}

.primary-section {
}

.primary-title {
}

/*
 * ---- Main Settings / secondary
 */

.secondary {
  width: 25%;
}

.secondary-container {
}

.secondary-header {
}

.secondary-section {
}

.secondary-title {
}

/*
 * ---- Footer Settings
 */

.site-footer {
  width: auto;
}

.site-footer-inner {
  text-align: center;
}

/*
 * ---- Other Settings
 */


/*************************************************************/

/*
 *
 */

.secondary-links {
}

.secondary-update-log {
}

.secondary-ads {
}
