/*
 * ---- Base
 */

body {
  font-family: Meiryo, "MS PGothic", Arial, Verdana;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  cursor: pointer;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #ff8c00;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

/*
 * [ IMPORTANT ]
 *
 * Do NOT use ID-selector for coding CSS !!
 * You should only use class-selector.
 *
**/

/*
 * ---- Site Style
**/

.site-container {
  margin: 0 auto;
    /* centering */
  max-width: 1010px;
}

.site-bg {
  background-color: #fff;
}

.site-fc {
  color: #222;
}

.site-mt-l {
  margin-top: 50px;
}

.site-minw {
  min-width: 680px;
}

.theme-color {
  background-color: #233;
  background-color: #349;
  color: #fff;
}

.theme-color a,
.theme-color a:link,
.theme-color a:visited,
.theme-color a:hover,
.theme-color a:active {
  color: #fff;
  text-decoration: none;
}

.theme-color a:hover {
  color: #f73;
}

/*
 * ---- Masthead Style
**/

.masthead-inner {
  display: flex;
  font-size: 8.5pt;
  justify-content: space-between;
    /* consider masthead-js-msg-container.
       flex-items are lined up and evenly spaced. */
  padding: 6px 0;
}

.masthead-js-msg-container {
  color: #f73;
}

.masthead-nav {
  margin-left: auto;
    /* masthead navigation should be on the right side in itself. */
}

.masthead-nav-links {
  display: flex;
    /* make items side by side */
}

.masthead-nav-link {
  text-align: center;
}

.masthead-nav-link a {
  display: block;
  padding: 0 16px;
    /* expand on-click space. */
}

/*
 * ---- Header Style
**/

.site-header-bg {
  background: url("../res/e.png");
  background-color: #fff;
  background-repeat: repeat;
}

.site-header-inner {
  align-items: flex-end;
    /* flex items contained in site-header-inner are moved to this container bottom. */
  display: flex;
  height: 200px;
    /* this is an experimental setting. */
  justify-content: space-between;
}

.site-header-labname-container {
  margin: 0 0 10px 20px;
}

.site-header-labname-main {
  font-size: 32pt;
}

.site-header-labname-sub {
  font-size: 24pt;
}

.site-header-info-container {
  font-weight: bold;
  margin: 0 20px 10px 0;
  text-align: right;
}

.site-header-affi {
  color: #777;
}

.site-header-affi-separater {
  margin-top: 4px;
  margin-bottom: 8px;
}

.site-header-addr {
  color: #e63;
}

/*
 * ---- Site Navigation Style
**/

.site-nav-inner {
  padding: 0 0;
}

.site-nav-links {
  border-left: 1px solid #fff;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
    /* navigation links should be centered on the page. */ 
}

.site-nav-link {
  border-right: 1px solid #fff;
  display: table-cell;
    /* please note that the parent container's display type is set to table. */
  vertical-align: middle;
}

.site-nav-link a {
  display: block;
  padding: 10px 0;
    /* expand on-click space. 
       be careful NOT to set a too large value. */
}

.site-nav-link a:hover {
  background-color: #78e;
  color: #fff;
}

.site-nav-link a span {
  display: block;
}

/*
 * ---- Site Main Style
 *
 *      NOTE: article settings are in the lower part..
 *
**/

.site-main-container {
  margin: 10px 8px;
}

/*
 * ---- Site Footer Style
**/

.site-footer-inner {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
}

/*******************************************************/

/*
 * ---- Article Style
**/

.article-header-title {
  font-size: 16px;
}

.article-header-separater {
  margin-top: 4px;
  margin-bottom: 8px;
}

.article-content {
  margin-left: 20px;
}

/*
 * ---- Slideshow Style
**/

.slideshow-container {
  margin: 0;
  padding-top: 4px;
  text-align: center;
}

.slideshow-container img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height: 100%;
  border-radius: 4px;
}

/*
 * ---- News Style
**/

.news-content {
  height: 200px;
  overflow-y: scroll;
}

.news-items {
  display: flex;
  flex-direction: column-reverse;
  list-style:none;
}

.news-item:first-child {
    /* NOTE: column-REVERSE property is uded. so first-child. */
  border-bottom: none;
}

.news-item {
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}

.news-header,
.news-disc {
  display: inline-block;
  vertical-align: middle;
}

.news-disc {
  margin-left: 32px;
}
