/*
 * ---- Base
 */

body {
  color: #222;
  font-family: Meiryo, "MS PGothic", Arial, Verdana;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  cursor: pointer;
}

a:link {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #ff8c00;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

/*
 * [ IMPORTANT ]
 *
 * Do NOT use ID-selector for coding CSS !!
 * You should only use class-selector.
 *
**/

/*
 * ---- Site Style
**/

.site {
  background-color: #fff;
  height: auto;
  width: auto;
}

.site-container {
  margin: 0 auto;
    /* centering */
  width: 920px;
}

.theme-color {
  background-color: #233;
  color: #fff;
}

.theme-color a,
.theme-color a:link,
.theme-color a:visited,
.theme-color a:hover,
.theme-color a:active {
  color: #fff;
  text-decoration: none;
}

.theme-color a:hover {
  color: #f73;
}

/*
 * ---- Masthead Style
**/

.masthead {
  font-size: 8.5pt;
  padding: 6px 0;
}

.masthead-inner {
  display: flex;
  justify-content: space-between;
    /* consider masthead-js-msg-container.
       flex-items are lined up and evenly spaced. */
}

.masthead-js-msg-container {
  color: #f73;
}

.masthead-nav {
  margin-left: auto;
}

.masthead-nav-links {
  display: flex;
  text-align: right;
}

.masthead-nav-link {
  text-align: center;
}

.masthead-nav-link a {
  display: block;
  padding: 0 16px;
    /* expand on-click space. */
}

/*
 * ---- Header Style
**/

.site-header {
  background-color: #fff;
  /* do NOT change this color!!
     this means that alternative color is white,
     so it should be equal to the default background color. */
  height: 200px;
    /* this is an experimental setting. */
}

.site-header-inner {
  align-items: flex-end;
    /* flex items contained in site-header-inner are moved to this container bottom. */
  display: flex;
  height: 100%;
    /* transform this container's height to the parent's one.
       this is due to align-items property. */ 
  justify-content: space-between;
}

.site-header-labname-container {
  margin: 0 0 10px 20px;
}

.site-header-labname-main {
  font-size: 32pt;
}

.site-header-labname-sub {
  font-size: 24pt;
}

.site-header-info-container {
  font-weight: bold;
  margin: 0 20px 10px 0;
  text-align: right;
}

.site-header-affi {
  color: #777;
}

.site-header-affi-separater {
  margin-top: 4px;
  margin-bottom: 8px;
}

.site-header-addr {
  color: #e63;
}

/*
 * ---- Site Navigation Style
**/

.site-nav {
}

.site-nav-inner {
  padding: 0 0;
}

.site-nav-links {
  border-left: 1px solid #fff;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
    /* navigation links should be centered on the page. */ 
}

.site-nav-link {
  border-right: 1px solid #fff;
  display: table-cell;
    /* please note that the parent container's display type is set to table. */
  vertical-align: middle;
}

.site-nav-link a {
  display: block;
  padding: 10px 0;
    /* expand on-click space. 
       be careful NOT to set a too large value. */
}

.site-nav-link a:hover {
  background-color: #ddd;
  color: #111;
}

.site-nav-link a span {
  display: block;
}
